<h1>Todos</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Text</th>
  </tr>

  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.owner %></td>
      <td><%= todo.text %></td>
    </tr>
  <% end %>
</table>
